:root{
    --bg-blue:#93B5C9;
    --bg-wine:#AB2849;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.header{
    width: 100%;
    height: 70px;
    background-color: var(--bg-blue);
}
.menu{
    width: 100%;
    height: 130px;
    background-color: var(--bg-wine);
}

.contenedor_items{
    display: flex;
    width: 80%;
    height: 100px;
    margin-top: 20px;
}
.item_1,.item_2{
    width: 50%;
    background-color: var(--bg-wine);
}
.item_2{
    margin-inline-start: 5px;
}
.item{
    margin-top: 30px;
    background-color: var(--bg-wine);
    height: 80px;
    width: 80%;
}

.footer {
    margin-top: 20px;
    background-color: var(--bg-wine);
    height: 80px;
    width: 100%;
}